.page{
    box-sizing: border-box;
    max-width: 1440px;
    padding: $padding-page-border;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: $font;
}

a{
    text-decoration: none;
    color: $color-black;
}