@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

h1{
    font-size: 48px;
    font-weight: $font-weight-medium;
}

h2{
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
}

h3{
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
}

p{
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
}