@mixin flex($direction: row, $justify:center, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin shadow-effect-black($duration:0.2s, $offset-x:10px, $offset-y:10px, $blur-radius:10px,$opacity:0.25, $multiplicateur){
    box-shadow: $offset-x $offset-y $blur-radius rgba(0, 0, 0, $opacity);
    transition: all $duration ease-in-out; 
        &:hover{
            box-shadow: $offset-x * $multiplicateur $offset-y * $multiplicateur $blur-radius rgba(0, 0, 0, $opacity * $multiplicateur);
        }        
}