.collapses{
    @include flex(column,center,center);
    max-width: 1240px;
    width: 100%;
    row-gap: 32px;
    padding: 24px 112px;
    @media screen and (max-width: map-get($breakpoints, mobile)){
        row-gap: 24px;
        padding: 24px 0px;
    }
}