.cards{
    max-width: 1240px;
    width: 100%;
    margin: 48px 0;
    background-color: $color-secondary;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    column-gap: 5%;
    row-gap: 56px;
    padding: 56px;
}