.cards{
    max-width: 1240px;
    width: 100%;
    margin: 48px 0;
    background-color: $color-secondary;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    column-gap: 5%;
    row-gap: 56px;
    padding: 56px;
    @media screen and (max-width: map-get($breakpoints, mobile)){
        background-color: $color-white;
        margin: 24px 0;
        padding: 0;
        row-gap: 16px;
            }
}