.pages{
    max-width: 1240px;
    width: 100%;
}

.cards{
    max-width: 1240px;
    width: 100%;
    margin-top: 32px;
    background-color: $color-secondary;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 25px;
    column-gap: 6.5%;
    row-gap: 6.5%;
    padding: 32px;
}