.banner-section{
    @include flex(row,center,center);
    width: 90%;
    height: 224px;
    border-radius: 25px;
    margin: 0 5%;
    background-color: $color-black;
        &__title{
            position: absolute;
            color: $color-white;
            }
        &__img{
            width: 100%;
            height: 224px;
            border-radius: 25px;
            object-fit: cover;
            opacity: 30%;
            }

}
