.banner-section{
    @include flex(row,center,center);
    width: 100%;
    height: 224px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    &__title{
        color: $color-white;
        @media screen and (max-width: map-get($breakpoints, tablette)){
            font-size: 32px;
        }
        @media screen and (max-width: map-get($breakpoints, mobile)){
            font-size: $font-size-large;
            width: 70%;
            margin-left: 16px;
        }
    }
    &--home{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/img/banner.png');
        @media screen and (max-width: map-get($breakpoints, mobile)){
            height: 111px;
            @include flex(row,flex-start,center);
        }
    }
    &--about{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/img/banner--about.png');
        @media screen and (max-width: map-get($breakpoints, mobile)){
            height: 224px;
            }
    }

}
