.carousel{
    @include flex(column,center,center);
    position: relative;
    width: 1240px;
    height: 415px;
    margin-bottom: 40px;
    &__img{
        position: absolute;
        height: 100%;
        width: 100%;
            & img{
                height: 100%;
                width: 100%;
                border-radius: 25px;
                object-fit: cover;
                position: absolute;
            }
    }
    &__arrow--left{
        position: absolute;
        z-index: 1;
        left: 2%;
        top: 38%;
        }
    &__arrow-right{
        position: absolute;
        z-index: 1;
        right: 2%;
        top: 38%;
        }
    &__num{
        position: absolute;
        z-index: 1;
        right: 50%;
        top: 90%;
        color: $color-white;
    }
}
