.collapse{
    @include flex(column,flex-start,flex-start);
    &__title{
        @include flex(row,space-between,center);
        width: 100%;
        background: $color-primary;
        border-radius: 5px;
        color: $color-white;
        padding: 8px 16px;
        }
    &__text{
        width: 100%;
        color: $color-primary;
        background: $color-secondary;
        padding: 16px 24px;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        animation: 0.2s cubic-bezier(1,0,1,0) 1 normal both collapse;
            &--hidden{
            animation: 0.2s cubic-bezier(1,0,1,0) 1 normal both collapse;
            visibility: hidden;
            height: 0;
            }
            &--item{
            font-size: $font-size-medium;
            font-weight: $font-weight-medium;
            }
        }
    &__arrow--down{
        transform: rotate(180deg);
        }

}

@keyframes collapse {
    0% {
        opacity: 0;
        transform: scaleY(0);
        transform: translateY(-5%);
        transform-origin: 0 0;
    }
    75% {
        transform: scaleY(0.5);
        opacity: 0.5;
        transform: translateY(0%);
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}