.nav-section{
    @include flex(row,center,flex-end);
    column-gap: 40px;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
        &__link {
        color: $color-primary;
            &:focus{
            text-decoration: underline solid $color-primary; 
            }
        }
}

